/*
Styles: RSPB Hen Harrier
Author: BoldLight
Author URI: http://boldlight.co.uk

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/

.harrier-page{


.social{
  .blog{
    width:45%;
    float: left;
  }
  .twitter{
  	margin-top: 0;
    width:45%;
    float: right;
  }
}

} // End .harrier-page